.woosw-popup
  .woosw-popup-inner
  .woosw-popup-content
  .woosw-popup-content-bot
  .woosw-notice {
  background-color: #5fbd74;
}
.woosw-popup
  .woosw-popup-inner
  .woosw-popup-content
  .woosw-popup-content-bot
  .woosw-popup-content-bot-inner
  .woosw-page
  a:hover,
.woosw-popup
  .woosw-popup-inner
  .woosw-popup-content
  .woosw-popup-content-bot
  .woosw-popup-content-bot-inner
  .woosw-continue:hover {
  color: #5fbd74;
}
