.elementor-1673
  .elementor-element.elementor-element-8e1e630
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1673
  .elementor-element.elementor-element-828fdbb
  > .elementor-widget-container {
  margin: 0px 0px -85px 0px;
  padding: 30px 20px 30px 20px;
  background-color: #0f0f0f;
}
.elementor-1673 .elementor-element.elementor-element-828fdbb {
  z-index: 3;
}
.elementor-1673 .elementor-element.elementor-element-512658e {
  padding: 180px 0px 40px 0px;
}
.elementor-1673
  .elementor-element.elementor-element-3b540c8
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-061cad8
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-a110612
  > .elementor-element-populated {
  margin: 0px 0px 30px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-d39a90f
  > .elementor-widget-container {
  margin: 0px 0px -45px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-19cb804.pix-social-icon
  i {
  color: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-19cb804.pix-social-icon
  svg {
  fill: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-19cb804.pix-social-icon:hover
  i {
  color: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-19cb804.pix-social-icon:hover
  svg {
  fill: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-0fdb796.pix-social-icon
  i {
  color: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-0fdb796.pix-social-icon
  svg {
  fill: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-0fdb796.pix-social-icon:hover
  i {
  color: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-0fdb796.pix-social-icon:hover
  svg {
  fill: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-543f1a8.pix-social-icon
  i {
  color: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-543f1a8.pix-social-icon
  svg {
  fill: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-543f1a8.pix-social-icon:hover
  i {
  color: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-543f1a8.pix-social-icon:hover
  svg {
  fill: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-a13221f.pix-social-icon
  i {
  color: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-a13221f.pix-social-icon
  svg {
  fill: #5b5b5b;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-a13221f.pix-social-icon:hover
  i {
  color: #c79d5f;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  .elementor-repeater-item-a13221f.pix-social-icon:hover
  svg {
  fill: #c79d5f;
}
.elementor-1673 .elementor-element.elementor-element-b40cd47 .pix-social {
  justify-content: flex-start;
}
.elementor-1673
  .elementor-element.elementor-element-b40cd47
  > .elementor-widget-container {
  margin: 0px 0px 2px 0px;
}
.elementor-1673
  .elementor-element.elementor-element-9024a3c
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-deb972e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-3b8dc2a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1673
  .elementor-element.elementor-element-79ade26
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1673 .elementor-element.elementor-element-79ade26 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #282828;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 45px 0px 25px 0px;
}
.elementor-1673 .elementor-element.elementor-element-79ade26,
.elementor-1673
  .elementor-element.elementor-element-79ade26
  > .elementor-background-overlay {
  border-radius: 1px 0px 0px 0px;
}
.elementor-1673
  .elementor-element.elementor-element-79ade26
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1673
  .elementor-element.elementor-element-decf940
  > .elementor-element-populated {
  margin: 0px 0px 20px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-1673
  .elementor-element.elementor-element-c6cf2d6
  > .elementor-element-populated {
  margin: 0px 0px 20px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
@media (min-width: 768px) {
  .elementor-1673 .elementor-element.elementor-element-decf940 {
    width: 83.27%;
  }
  .elementor-1673 .elementor-element.elementor-element-c6cf2d6 {
    width: 16.66%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1673 .elementor-element.elementor-element-3b540c8 {
    width: 33.33%;
  }
  .elementor-1673 .elementor-element.elementor-element-061cad8 {
    width: 33.33%;
  }
  .elementor-1673 .elementor-element.elementor-element-a110612 {
    width: 33.33%;
  }
  .elementor-1673 .elementor-element.elementor-element-9024a3c {
    width: 33.33%;
  }
  .elementor-1673 .elementor-element.elementor-element-deb972e {
    width: 33.33%;
  }
  .elementor-1673 .elementor-element.elementor-element-decf940 {
    width: 50%;
  }
  .elementor-1673 .elementor-element.elementor-element-c6cf2d6 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .elementor-1673 .elementor-element.elementor-element-3b540c8 {
    width: 50%;
  }
  .elementor-1673 .elementor-element.elementor-element-061cad8 {
    width: 50%;
  }
  .elementor-1673 .elementor-element.elementor-element-a110612 {
    width: 50%;
  }
  .elementor-1673 .elementor-element.elementor-element-9024a3c {
    width: 50%;
  }
  .elementor-1673 .elementor-element.elementor-element-deb972e {
    width: 50%;
  }
}
