.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail{max-width:100%;height:auto;}
p:empty{display:none;}
[class^="wp-block"]{margin-bottom:1.5em;}
.wp-block-themepunch-revslider{margin-bottom:0;}
.alignleft{float:left;text-align:left;margin-right:30px;}
.alignleft:after{content:'';clear:both;}
.alignright{float:right;text-align:right;margin-left:30px;}
.aligncenter{display:block;text-align:center;margin:10px auto;}
.bypostauthor{list-style:none;background:none;}
img[class*="wp-image-"]{display:block;max-width:100%;height:auto;clear:both;}
.wp-block-cover{height:auto;}
.wp-caption{max-width:100%;list-style:none;background:none;}
.wp-caption-text{list-style:none;background:none;padding-top:10px;font-style:italic;text-align:left;font-size:.9em;opacity:.75;}
.bypostauthor{text-align:left;}
.more-page a:first-of-type{margin-left:1em;}
.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter{margin-bottom:1.25em;}
.has-background{padding:2em;}
.has-background p:last-child, .has-background > *:last-child{margin-bottom:0;}
.wp-block-latest-comments, .wp-block-latest-posts, .wp-block-rss{padding-left:0;list-style:none;}
.wp-block-rss > li, .wp-block-rss > li > div{margin-bottom:0;}
.wp-block-calendar table thead{border-bottom:1px solid var(--pix-border-color);color:var(--pix-text-color-bright);}
.wp-block-calendar table th{background:transparent;}
.wp-block-calendar tbody td, .wp-block-calendar th{border-color:var(--pix-border-color);}
.wp-block-calendar a{color:var(--pix-text-color-bright);}
.wp-block-separator.is-style-dots:before{content:"● ● ●";letter-spacing:1em;}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots){max-width:100px;}
.wp-block-cover .wp-block-cover-text{max-width:80%;}
.wp-block-cover__inner-container > *:last-child{margin-bottom:0;}
.wp-block-cover.has-background-dim{color:#fff;}
.wp-block-button > a{text-decoration:none;}
.wp-block-button__link{margin:0;}
.gallery-caption{list-style:none;background:none;}
.pingback .comment__avatar, .trackback .comment__avatar{display:none;}
blockquote, .wp-block-quote{padding:0 !important;}
blockquote:before{color:var(--accent);display:block;font-family:'mocca';content:'\e91f';}
.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
.productCard__icons .added_to_cart{display:none !important;}
.logos{margin-right:auto;margin-left:auto;}
.pix-btn-wrapper.text-justify .btn{display:block;width:100%;}
body .elementor-section.elementor-section-boxed > .elementor-container{max-width:1650px;}
body .section__inner .elementor-section.elementor-section-boxed > .elementor-container{max-width:1420px;}
.woosc-popup, .woosw-area{
display: none;
}